@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-slate-100;
  min-width: 480px !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  @apply py-2 pl-4 text-xl bg-slate-400;
}
h2 {
  @apply text-lg;
}
h1,
h2,
h3 {
  @apply font-bold;
}
ul {
  @apply pb-2 border-solid border-0 border-b border-blue-800;
}

.panel {
  @apply p-2 mx-1 my-3 border-4 border-slate-400 rounded-md;
}

.subpanel {
  @apply p-2;
}

table {
  @apply inline-block border-4 border-slate-400 rounded-md p-2 bg-slate-200;
}

th {
  @apply bg-slate-200;
}

tr {
  @apply py-1;
}

tr.alternate {
  @apply bg-slate-100;
}

tr.selected {
  @apply bg-slate-300;
}

thead {
  @apply border-solid border-0 border-b-2  border-slate-400;
}

td {
  @apply px-2;
}

input,
select {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 max-w-sm;
}

label {
  @apply block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300;
}

button {
  @apply text-white bg-blue-800 hover:bg-blue-900 focus:ring-4 focus:outline-none focus:ring-blue-400 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-700 dark:hover:bg-blue-800 dark:focus:ring-blue-900;
}

.formError {
  @apply pt-1 text-orange-800 font-bold;
}
